.descriptionBackgroundColor {
  background-color: var(--month-settings-hourly-rate-background-color-light);
}

.containerBackgroundColor {
  background-color: var(--month-settings-hourly-rate-background-color-dark);
}

.textColor {
  color: var(--month-settings-hourly-rate-text-color);
}

.containerOther {
  margin-top: 3px;
}

.textColor::placeholder {
  color: #d2b6b6;
}

.textColor:invalid::placeholder {
  color: var(--warning-color);
}

.textColor:invalid {
  color: var(--warning-color);
}

.invalid {
  outline: solid 1px var(--warning-color);
}

.dimensions {
  width: 13rem;
  height: 2.2rem;
}
