.descriptionBackgroundColor {
  background-color: var(
    --application-settings-displayed-currency-light-background-color
  );
}

.containerBackgroundColor {
  background-color: var(
    --application-settings-displayed-currency-dark-background-color
  );
}

.textColor {
  color: var(--application-settings-displayed-currency-text-color);
}
