.registeModalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  background-color: rgb(66, 66, 66);
  width: min(25rem, 95%);
  height: min(30rem, 95%);
  display: flex;
  border-radius: var(--large-border-radius);
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}

.header h1 {
  font-size: 2rem;
  /* margin: 1rem;
  margin-inline: auto; */
  margin: 0 auto;
  font-weight: normal;
  /* font-family: var(--secondary-font-family); */
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
}
.registeModalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--secondary-font-family);
  padding: 1rem;
}
.closeButton {
  font-size: 0.9rem;
  font-family: var(--main-font-family);
  /* align-self: flex-end; */
  padding: 0.2rem 0.6rem;
  border-radius: var(--medium-border-radius);
}
.scrollableArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  flex: 1 0 auto;
  width: 100%;
}
.inputsSection {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  border: 0;
  padding: 0;
}

.inputTitleContainer {
  display: flex;
  align-items: center;
}

.invalid .invalidInputWarningText {
  color: #fcb6b6;
}

.invalidInputWarningText {
  display: none;
}

.invalid .invalidInputWarningText {
  display: block;
}

.inputName {
  font-size: 1rem;
}
.inputField {
  background-color: #94a9a6;
  width: 16rem;
  height: 2rem;
  font-size: 0.9rem;
  border-radius: var(--medium-border-radius);
  margin-block: 3px;
}

.inputField:where(:focus-visible) {
  outline: none;
}

.focusOutline {
  outline: solid white;
}

.invalid .focusOutline {
  outline: solid #fcb6b6;
}

.passwordRequirements {
  font-family: var(--main-font-family);
  font-size: 0.8rem;
}
.logInInstead {
  margin-block: 0 0.6rem;
}

.logInInstead button {
  font-family: var(--secondary-font-family);
  display: inline;
  font-size: 1rem;
  color: aquamarine;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: 0;
}

.registerButton {
  font-family: var(--secondary-font-family);
  padding: 0.2rem 3rem;
  border-radius: var(--medium-border-radius);
  font-size: 1.4rem;
}
