.dayStatusIndicator {
  width: 100%;
  height: 0.125rem;
}

.goodColor {
  background-color: var(--day-component-status-indicator-good-background-color);
}

.badColor {
  background-color: var(--day-component-status-indicator-bad-background-color);
}

.neutralColor {
  background-color: var(
    --day-component-status-indicator-neutral-background-color
  );
}
