.middleMenuComponent {
  margin: 0.62rem 0 0 0;
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.monthSettingsButtonSmall {
  width: 1.87rem;
  height: 1.87rem;
  padding: 0.32rem;
}

.monthSettingsSmallButtonWrapper {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0;
  border: 0;
}

.monthSettingsButtonLarge {
  width: 9.06rem;
  height: 1.87rem;
  padding: 0;
  border-radius: var(--medium-border-radius);
  background-color: var(--menu-user-button-background-color);
  color: var(--menu-user-button-text-color);
  font-family: var(--main-font-family);
  font-size: 0.94rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.clearInputsButton,
.toggleInputsButton,
.toggleStatsButton {
  font-family: var(--main-font-family);
  font-size: 0.94rem;
  padding: 0.38rem 0.62rem;
  border-radius: var(--medium-border-radius);
}

.clearInputsButton:disabled,
.clearInputsButton:disabled:hover {
  background-color: rgb(148, 144, 125);
  cursor: auto;
}

.monthSettingsSmallButtonWrapper,
.monthSelectWrapper,
.yearSelectWrapper,
.clearInputsButton,
.toggleInputsButton,
.toggleStatsButton,
.monthSettingsButtonLarge {
  margin: 0 0.25rem;
}

.monthSettingsSmallButtonWrapper {
  margin-left: auto;
}

.clearInputsButton {
  background-color: var(--menu-clear-inputs-button-background-color);
  color: var(--menu-clear-inputs-button-text-color);
}

.clearInputsButton:hover {
  background-color: hsl(43, 82%, 27%);
  /* scale: 1.01; */
}

.clearInputsButton:active {
  background-color: hsl(43, 82%, 22%);
}

.toggleStatsButton:hover {
  background-color: hsl(0, 30%, 38%);
  /* scale: 1.01; */
}

.toggleStatsButton:active {
  background-color: hsl(0, 30%, 33%);
}

.toggleStatsButton {
  background-color: var(--menu-toggle-stats-button-background-color);
  color: var(--menu-toggle-stats-button-text-color);
}

.monthControlsContainer,
.monthButtonsContainer {
  gap: 0.62rem;
  display: flex;
  flex-wrap: wrap;
}

.monthSelectWrapper,
.yearSelectWrapper {
  height: 1.87rem;
  align-self: center;
  width: 9rem;
}

.monthSelectWrapper {
  order: 5;
  z-index: 2;
}

.yearSelectWrapper {
  order: 6;
}

.monthSettingsSmallButtonWrapper {
  order: 4;
}

.clearInputsButton {
  order: 7;
}

.toggleInputsButton {
  order: 8;
}

.toggleStatsButton {
  order: 9;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.lockInputsButton {
  background-color: var(--menu-lock-inputs-button-background-color);
  color: var(--menu-lock-inputs-button-text-color);
}

.unlockInputsButton {
  background-color: var(--menu-unlock-inputs-button-background-color);
  color: var(--menu-unlock-inputs-button-text-color);
}

.lockInputsButton:hover {
  background-color: hsl(206, 18%, 44%);
  /* scale: 1.01; */
}

.lockInputsButton:active {
  background-color: hsl(206, 18%, 39%);
}

.unlockInputsButton:hover {
  background-color: hsl(118, 36%, 38%);
  /* scale: 1.01; */
}

.unlockInputsButton:active {
  background-color: hsl(118, 36%, 33%);
}

@media (width <= 700px), (device-width <= 775px) {
  .monthSelectWrapper,
  .yearSelectWrapper {
    margin-block: 0.25rem;
    width: 50%;
    margin-left: auto;
  }

  .monthSettingsSmallButtonWrapper {
    display: none;
  }

  .monthSettingsButtonLarge {
    order: 10;
    display: block;
    width: 35%;
    font-size: min(5vw, 1rem);
    margin-right: auto;
  }

  .clearInputsButton,
  .toggleInputsButton,
  .toggleStatsButton {
    margin-block: 0.25rem;
    width: 30%;
    font-size: min(5vw, 1rem);
    padding: 0.38rem 0;
  }

  .clearInputsButton {
    order: 11;
    margin-left: auto;
  }

  .toggleInputsButton {
    order: 12;
  }

  .toggleStatsButton {
    order: 13;
  }

  .toggleStatsButton {
    margin-right: auto;
  }

  .monthSelectWrapper {
    order: 9;
  }

  .yearSelectWrapper {
    order: 7;
  }
}

@media (700px < width <= 1170px) and (775px < device-width),
  (775px < device-width <= 1295px) {
  .clearInputsButton,
  .toggleInputsButton,
  .toggleStatsButton,
  .monthSelectWrapper,
  .yearSelectWrapper,
  .monthSettingsSmallButtonWrapper {
    align-self: flex-start;
  }
  .monthSelectWrapper,
  .yearSelectWrapper {
    width: 25%;
  }

  .loggedInMonthSettingsSmallButtonWrapper {
    margin-inline: auto 0.25rem;
  }

  .loggedInMonthSelectWrapper {
    margin-left: auto;
  }

  .loggedInMonthSelectWrapper,
  .loggedInYearSelectWrapper {
    align-self: center;
  }

  .monthSettingsSmallButtonWrapper {
    order: 12;
  }

  .monthSelectWrapper {
    order: 13;
  }
  .yearSelectWrapper {
    order: 14;
  }

  .loggedInMonthSettingsSmallButtonWrapper {
    order: 17;
  }

  .clearInputsButton {
    order: 18;
    margin-left: auto;
  }

  .toggleInputsButton {
    order: 19;
  }

  .toggleStatsButton {
    order: 20;
  }

  .loggedInClearInputsButton {
    margin-left: 0;
  }
}

@media (1170px < width <= 1350px) and (1295px < device-width),
  (1295px < device-width <= 1410px) {
  .monthSelectWrapper {
    width: 9rem;
  }

  .yearSelectWrapper {
    width: 6.5rem;
  }
}
